<mdl-card class="sf-card-square" mdl-shadow="2">
  <mdl-card-title mdl-card-expand [ngStyle]="{'background': 'url('+movie.poster()+') no-repeat #fff'}">
    <h3 mdl-card-title-text>{{movie.title}}</h3>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <ul>
      <li>
        <i class="material-icons">event</i>
        <span class="">{{movie.release_year}}</span>
      </li>
      <li>
        <i class="material-icons">location_on</i> {{movie.locations.length}} film location(s)
      </li>
    </ul>
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <a class="mdl-button mdl-button--colored" [routerLink]="['/films', movie.slug() ]">
      Details
    </a>
  </mdl-card-actions>
</mdl-card>