ul
  display: flex
  flex-flow: row wrap
  overflow: hidden
  justify-content: center
  padding-bottom: 20px
  @media screen and (min-width: 580px)
    justify-content: flex-start

li
  flex: 0 0 auto
  padding-top: 20px
  &:first-child
    padding-top: 0
  @media screen and (min-width: 580px)
    padding-left: 20px
    padding-top: 0 
  